CREATE USER 'itopp_user'@'52.237.99.11' IDENTIFIED BY 'password_QU4T!';

GRANT ALL PRIVILEGES ON itopp_dev.* TO 'itopp_user'@'52.237.99.11';
GRANT ALL PRIVILEGES ON db_itop_be.* TO 'itopp_user'@'52.237.99.11';

FLUSH PRIVILEGES;


DB_CONNECTION2=mysql2
DB_HOST2=4.145.112.30
DB_PORT2=3306
DB_DATABASE2=itopp_dev
DB_USERNAME2=itopp_user
DB_PASSWORD2=password_QU4T!
